
minecraft/.fabric/

minecraft/.mixin.out/

minecraft/craftpresence/

minecraft/data/

minecraft/logs/

minecraft/mods.backup/

minecraft/saves/

minecraft/screenshots/

minecraft/testing/

minecraft/hs_err_pid19388.log

minecraft/hs_err_pid21588.log

minecraft/mobs_0.png

minecraft/pings_0.png

minecraft/servers.dat

minecraft/usercache.json

minecraft/waypoints_0.png

minecraft/chooser_0.png

.minecraft/.fabric/

.minecraft/.mixin.out/

.minecraft/craftpresence/

.minecraft/data/

.minecraft/logs/

.minecraft/mods.backup/

.minecraft/saves/

.minecraft/screenshots/

.minecraft/testing/

.minecraft/mobs_0.png

.minecraft/pings_0.png

.minecraft/servers.dat

.minecraft/usercache.json

.minecraft/waypoints_0.png

.minecraft/chooser_0.png

.minecraft/crash-reports/

.minecraft/not-enough-crashes/

natives/

mods/

.DS_Store

*.xwmc

*.zip

.minecraft/serversync-3.6.0.jar

.minecraft/XaeroWaypoints/

.minecraft/XaeroWaypoints*/

.minecraft/XaeroWorldMap/

.minecraft/logs/serversync-client.log

.minecraft/deathpoints/dev.aof3.lab717.com.txt

.minecraft/config/NetherTeleports/players/

.minecraft/config/hqm/remote/

.minecraft/config/itemmodelfix.json

.minecraft/config/hqm/remote/description.txt

.minecraft/config/hqm/remote/deaths.json

.minecraft/config/hqm/remote/data.json

.minecraft/config/hqm/remote/bags.json

.minecraft/config/hqm/remote/Astromine.json

.minecraft/config/fabric/indigo-renderer.properties

.minecraft/config/craftpresence.properties

.minecraft/config/bebooks/config.properties

.minecraft/deathpoints/

.minecraft/options.txt

instance.cfg
