
minecraft/.fabric/

minecraft/.mixin.out/

minecraft/craftpresence/

minecraft/data/

minecraft/logs/

minecraft/mods.backup/

minecraft/saves/

minecraft/screenshots/

minecraft/testing/

minecraft/hs_err_pid19388.log

minecraft/hs_err_pid21588.log

minecraft/mobs_0.png

minecraft/pings_0.png

minecraft/options.txt

minecraft/servers.dat

minecraft/usercache.json

minecraft/waypoints_0.png

minecraft/chooser_0.png

mods/
.DS_Store
.minecraft/serversync-3.6.0.jar
.minecraft/.fabric/remappedJars/minecraft-1.16.2/intermediary-minecraft-1.16.2-client.jar
.minecraft/logs/serversync-client.log
